<!-- <p>welcome works!</p> -->
<!-- <div class="delegation_welcome">
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 d-lg-block d-md-block d-sm-none">

                </div>
                <div class="col-md-4 text-center">
                    <div class="logo">
                        <a ><img src="assets/img/logo.png" class="img-fluid"/></a>
                    </div>
                </div>
                <div class="col-md-4 text-md-right header_right">
                    <button>DELEGA TE FORM</button>
                </div>
            </div>
        </div>
    </header>
    <div class="banner"></div>
    <div class="quiddiya">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12 text-center">
                    <div class="quiddiya_style">
                        <div class="heading">
                            <h1>Welcome to the <br>Qiddiya Experience Center</h1>
                        </div>
                        
                        <div class="btn_group">
                            <button (click)="bookANewVisit()">BOOK A NEW VISIT</button>
                            <button (click)="manageExistingBooking()"> MANAGE EXISTING BOOKING</button>
                            <button (click)="contactUs()">CONTACT US</button>
                        </div>
                        <div class="next">
                            <a >NEXT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style">
            <div class="heading">
                <h1>Welcomes to the <br>Qiddiya Experience Center</h1>
            </div>

            <div class="btn_group">
                <button (click)="bookANewVisit()">BOOK A NEW VISIT</button>
                <button (click)="manageExistingBooking()"> MANAGE EXISTING BOOKING</button>
                <button>CONTACT US</button>
            </div>
        </div>
    </div>
</div>