<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style no-of-delegates-style">
            <div class="heading">
                <h1>Delegation Request</h1>
                <p>Register Members</p>
            </div>

            <div class="no-of-delegates">
                <p>Number of Delegates</p>
                
                    <input type="number" (input)="receivedNumber($event)" [(ngModel)]="des01"
                        min="0" />
                    
            
            <div class="next">
                <!-- <a (click)="underFinteen()">NEXT</a> -->
                <!-- <a (click)="aboveFifteen()">NEXT</a> -->
                <!-- <button type="submit" [disabled]="!des01"> Submit </button> -->
                <a (click)="back()">Back</a>
                <button type="NEXT"(click)="next()" [disabled]="!des01">NEXT</button>
            </div>
        
        </div>
    </div>
</div>