<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style">
            <div class="heading">
                <h1>Register Members</h1>
            </div>
            <div class="register_member">
                <p>For more than 15 members, you will need to send the request through email.</p>
                <p>Would you like to send an email request instead?</p>
                <p>Note: If you chose yes, your request data will be copied</p>
            </div>

            <div class="next">
                <a (click)="yes()">Yes</a>
                <a class="cancel">Cancel</a>
            </div>
        </div>
    </div>
</div>