<div class="row justify-content-center">
  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
      <div class="quiddiya_style">
          <div class="heading">
              <h1>Member Added</h1>
          </div>
          <div class="register_member">
              <p>THANK YOU (MR/MRS xxxx) for your registration.</p>
              <p>Your delegation URN is XXXX and you will receive by email your QR code.  Please bring this code to the QEC to fast track your visit. </p>
              <p>We look forward to welcoming you.</p>
              <p>Contact QEC team <br>Discover Qiddiya</p>
          </div>

          <div class="next">
              <a (click)="home()" class="back-to-home">Back To Home</a>
          </div>
      </div>
  </div>
</div>