<div class="delegation_welcome">
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-4 d-lg-block d-md-none d-sm-none">
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 text-lg-center text-xl-center text-md-left text-sm-left text-center">
                    <div class="logo">
                        <a (click)="home()"><img src="assets/img/logo.png" class="img-fluid"/></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-12 text-xl-right text-md-right text-sm-right text-center header_right">
                    <button (click)="delegaTaForm()">DELEGA TE FORM</button>
                </div>
            </div>
        </div>
    </header>
    <div class="banner"></div>
    <div class="quiddiya">
        <div class="container">
            <!-- <div class="row justify-content-center"> -->
                <!-- <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center"> -->
                    <router-outlet></router-outlet>
                <!-- </div> -->
            <!-- </div> -->
        </div>
    </div>
</div>


