<!-- <p>member-update works!</p> -->
<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style">
            <div class="heading">
                <h1>Member Details Updated</h1>
            </div>
            <div class="register_member">
                <p>Your details have been modified.</p>
                <p>We will review the changes and if everything looks alright you don’t need to do anything. If, for some reason, we need to contact you about this change, we will send you an email. </p>
                <p>Contact QEC team <br>Discover Qiddiya</p>
            </div>
  
            <div class="next">
                <a (click)="home()" class="back-to-home">Back To Home</a>
            </div>
        </div>
    </div>
  </div>