<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style delegate_details">
                          
    <div class="delegate_details_section">
        <div class="heading">
            <h1>Delegation Details</h1>
        </div>
        <div class="row">
            <div class="col-md-4 text-left">
                <div class="edit-persion">
                    <div class="edit-persion-header">
                        <h3>LEAD DELEGATE</h3>
                        <a (click)="edit()"><img src="./assets/img/edit-icon.svg" /></a>
                    </div>
                    <ul>
                        <li><label>LEAD:</label>
                            <p>John Doe</p>
                        </li>
                        <li><label>EMAIL:</label>
                            <p><a href="mailto:john.d@acne.com">john.d@acne.com</a></p>
                        </li>
                        <li><label>TEL:</label>
                            <p><a href="tel:442077763821"></a>+44 20 77763821</p>
                        </li>
                        <li><label>WEB:</label>
                            <p><a href="acne.com" target="_blank">acne.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 text-left">
                <div class="edit-persion">
                    <div class="edit-persion-header">
                        <h3>LEAD DELEGATE</h3>
                        <a (click)="edit()"><img src="./assets/img/edit-icon.svg" /></a>
                    </div>
                    <ul>
                        <li><label>LEAD:</label>
                            <p>John Doe</p>
                        </li>
                        <li><label>EMAIL:</label>
                            <p><a href="mailto:john.d@acne.com">john.d@acne.com</a></p>
                        </li>
                        <li><label>TEL:</label>
                            <p><a href="tel:442077763821"></a>+44 20 77763821</p>
                        </li>
                        <li><label>WEB:</label>
                            <p><a href="acne.com" target="_blank">acne.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="delegate_details_list">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th><p>DELEGATE</p></th>
                            <th><p>EMAIL</p></th>
                            <th><p>PHONE</p></th>
                            <th><a (click)="add()">+ ADD</a></th>
                        </tr>
                        <tr>
                            <td>
                                <p>Malcom Peters</p>
                            </td>
                            <td>
                                <p>malcom.peters@acne.com</p>
                            </td>
                            <td>
                                <p>+44 20 388947793</p>
                            </td>
                            <td>
                                <a (click)="edit()"><img src="./assets/img/edit-icon.svg"></a>
                                <a><img src="./assets/img/cross-icon.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Hardy Newton</p>
                            </td>
                            <td>
                                <p>hardy.newton@acne.com</p>
                            </td>
                            <td>
                                <p>+44 7867677397</p>
                            </td>
                            <td>
                                <a (click)="edit()"><img src="./assets/img/edit-icon.svg"></a>
                                <a><img src="./assets/img/cross-icon.svg"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



            <!-- <div class="next">
                <a (click)="next()">NEXT</a>
            </div> -->
        </div>
    </div>
</div>