<div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12 text-center">
            <div class="quiddiya_style">
                <div class="heading">
                    <h1>Edit Member</h1>
                </div>
                <div class="add_delegate">
                    <div class="added">
                        <span>1</span>
                    </div>
    
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Name" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" placeholder="Job Title" class="form-control" />
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-12">
                                <input type="text" placeholder="Email" class="form-control" />
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-12">
                                <input type="text" placeholder="Mobile" class="form-control" />
                            </div>
                            
                            <div class="form-group col-md-6 col-sm-12 col-12">
                                <input type="text" placeholder="Website" class="form-control" />
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-12">
                                <input type="text" placeholder="Company Name" class="form-control" />
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-12">
                                <input type="text" placeholder="Address" class="form-control" />
                            </div>
                            <!-- <div class="form-group col-md-12 col-sm-12 col-12 text-left new_added">
                                <a>+ Add another delegate</a>
                            </div> -->
                        </div>
                    </form>
                </div>
                <div class="next">
                    <a routerLink="/MemberUpdate">Update</a>
                    <a routerLink="/DelegationDetails">Cancel</a>
                </div>
            </div>
        </div>
    </div>