<div class="row justify-content-center">
                <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
    <div class="quiddiya_style">
        <div class="heading">
            <h1>Delegation Request</h1>
        </div>
        <div class="align-items-start delegate_request">
            <div class="col-md-6 col-sm-12 col-12 text-left">
                <ul>
                    <li><label>FROM</label>
                        <p>lead@acne.com</p>
                    </li>
                    <li><label>SUBJECT</label>
                        <p>Large Delegation</p>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12 col-12 text-left">
                <h3>REQUEST SUMMARY</h3>
                <ul>
                    <li><label>LEAD:</label>
                        <p>John Doe</p>
                    </li>
                    <li><label>EMAIL:</label>
                        <p><a href="mailto:john.d@acne.com">john.d@acne.com</a></p>
                    </li>
                    <li><label>TEL:</label>
                        <p><a href="tel:442077763821"></a>+44 20 77763821</p>
                    </li>
                    <li><label>WEB:</label>
                        <p><a href="acne.com" target="_blank">acne.com</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-12">
                <textarea class="form-control"></textarea>
            </div>
        </div>

        <div class="next">
            <a (click)="send()">Send</a>
        </div>
    </div>
</div>
</div>