<div class="row justify-content-center">
    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 text-center">
        <div class="quiddiya_style">
            <div class="heading">
                <h1>Delegation Request</h1>
            </div>
            <div class="register_member">
                <h3>THANK YOU,</h3>
                <p>for submitting a visit request. We have sent you a confirmation email to the lead <br>delegate email
                    address you provided.</p>
                <p>Would you like to send an email request instead?</p>
                <p>Note: If you chose yes, your request data will be copied</p>
            </div>

            <div class="next">
                <a (click)="home()" class="back-to-home">Back To Home</a>
            </div>
        </div>
    </div>
</div>